.page {
  border: 1px solid #a313ff;
}


html {
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #a313ff;
}
h1, h2, h3, p {
  margin-left: 3rem;
  margin-right: 3rem;
}
h1 {
  margin-top: 1.75rem;
  margin-bottom: .5rem;
  font-size: 6rem;
  font-weight: 200;
  line-height: 1.1em;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}
h3 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}
h2 + h3,
p + h2,
p + h3,
ul + h3 {
  margin-top: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0 3rem 1rem;
}
li {
  margin-bottom: .5em;
}
li > ul,
li > h3 {
  margin:0;
}
figure {
  width: 60%;
  margin: 4rem 20% 0;
}
figure + h3 {
  margin-top: .5em;
}
p + figure {
  margin: 2rem 20% 0;
}
img {
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
a {
  color: #000;
}
hr {
  border-style: dashed;
  margin-left: 3rem;
  margin-right: 3rem;
  /*width: 80%;*/
  margin-top: 2rem;
}
hr + h2 {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}
.details {
  margin-bottom: .5rem;
  font-style: italic;
}
.continued {
  margin-top: 3rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-vert {
  width: 1.5rem;
  height: 2rem;
}
.icon-horz {
  width: 2rem;
  height: 1.5rem;
}
.title {
  font-weight: 700;
}

@media print {
  img {
    -webkit-filter: none;
    filter: none;
  }
  h1, h2 {
    color: #a313ff;
  }
  .icon,
  .icon-vert,
  .icon-horz {
    fill: #a313ff;
  }
}
