.page {
  border: 1px solid #000;
}


html {
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, p {
  margin-left: 2rem;
  margin-right: 2rem;
}
h1 {
  color: #a313ff;
}
h2, h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0 2rem 1rem;
}
li {
  margin-bottom: .5em;
}
li > ul,
li > h3 {
  margin:0;
}
figure {
  width: 60%;
  margin: 1rem 20%;
}
img {
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.details {
  margin-bottom: 1rem;
  font-style: italic;
}
.continued {
  margin-top: 2rem;
}
.icon {
  width: 1.5rem;
  margin-right: .5rem;
}
.title {
  font-weight: 700;
}
